{
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "plugins": [
      "prettier-plugin-organize-imports",
      "prettier-plugin-packagejson",
      "prettier-plugin-tailwindcss"
    ],
    "pluginSearchDirs": false
  }
